*foreground:		#f8f8f2
*background:		rgba(0, 0, 0, .7)

URxvt.font:		xft:monospace:size=12
URxvt.scrollBar:	false
URxvt.intensityStyles:	false
URxvt.depth:		32
URxvt.background:	[95]#000000

rofi.color-enabled:     true
rofi.color-window:      #000, #000, #000
rofi.color-normal:      #000, #f5f5f5, #000, #f5f5f5, #000
rofi.lines:             10
rofi.hide-scrollbar:    true
rofi.width:             20

! black death
*color0:                #4c4c4c
*color8:                #4c4c4c
! red rose
*color1:                #d41243
*color9:                #d41243
! green lagoon
*color2:                #7fdb6a
*color10:               #7fdb6a
! yellow dress
*color3:                #f47835
*color11:               #f47835
! i feel blue
*color4:                #3366ff
*color12:               #3366ff
! magenta magic
*color5:                #a200ff
*color13:               #a200ff
! cry with me cyan
*color6:                #00aedb
*color14:               #00aedb
! warlord white
*color7:                #f5f5f5
*color15:               #f5f5f5 
